@page "/"

<PageTitle>Home</PageTitle>

@inject NavigationManager NavigationManager

<style>
    .btn {
        width: 300px;
    }


    .center-container {
        display: flex;
        flex-direction: column; /* Tlačítka pod sebe */
        justify-content: center; /* Vertikální zarovnání */
        align-items: center; /* Horizontální zarovnání */
        height: 100vh; /* Výška celé stránky */
        margin: 0;
    }

        /* Mezery mezi tlačítky */
        .center-container .btn {
            margin: 10px 0;
        }
</style>

<div class="center-container">
    <h1>Rozcestník</h1>
    <button class="btn" @onclick="onOpenDocumentPageClick">Dokumentace(Swagger)</button>
    <button class="btn" @onclick="onOpenBufferDataPageClick">Buffer data-Orders (aktualizované 20s)</button>
    <button class="btn" @onclick="onOpenJsonDataPageClick">JSON data-Orders (aktualizované 20s)</button>
</div>
@code {
    private void onOpenDocumentPageClick()
    {
        NavigationManager.NavigateTo("/swagger/index.html", true);
    }

    private void onOpenJsonDataPageClick()
    {
        NavigationManager.NavigateTo("/json-data", true);
    }

    private void onOpenBufferDataPageClick()
    {
        NavigationManager.NavigateTo("/buffer-data", true);
    }
}