@page "/buffer-data"
@using cbData.BE.BusinessLogic.Models.Reports
@using cbData.BE.DB.Models.Products
@using cbData.Stories

@inject ProductStory ProductStory;

<h1>Buffer data</h1>

<h2>UTC Datum a čas poslední aktualizace:@ProductStory?.OrdersBuffer?.LastUpdate.ToString()</h2>
@if (_totalOrdersByProduct != null)
{
    <table>
        <thead>
            <tr>
                <th style="width:200px;text-align:left;text-decoration:underline;">@nameof(TotalOrdersByProductDto.Product)</th>
                <th style="text-align:left;text-decoration:underline;">@nameof(TotalOrdersByProductDto.TotalOrders)</th>
            </tr>
        </thead>
        <tbody>
            @if (_totalOrdersByProduct != null)
            {
                @foreach (var item in _totalOrdersByProduct)
                {
                    <tr data-widget="expandable-table" aria-expanded="false">
                        <td style="width:200px;text-align:left;">@item.Product?.Name</td>
                        <td>@item.TotalOrders</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <label>Načítání dat...</label>
}

@code {
    private List<TotalOrdersByProductDto>? _totalOrdersByProduct => ProductStory?.OrdersBuffer?.TotalOrdersByProduct;

}
