@page "/json-data"
@using cbData.Services
@using cbData.Shared.Stories
@using cbData.Stories

<h1>JSON data</h1>
<h2>Uložiště:@_pathsStory?.BaseDirectory?.ToString()</h2>
<h2>Název souboru:@_pathsStory?.JsonBufferName?.ToString()</h2>

@if(@jsonText!=null)
{
    <label>@jsonText</label>
}
else
{
    <label>Načítání dat...</label>
}

@code {
    [Inject]
    private CJsonService? _cJsonService { get; set; }
    [Inject]
    private PathsStory? _pathsStory { get; set; }
    private string? jsonText;

    protected override async Task OnInitializedAsync()
    {
        if(_cJsonService!=null)
            jsonText = await _cJsonService.ReadBufferDataAsync();

        await base.OnInitializedAsync();
    } 
 }
